/* estilos de cotizacion */

.main-color {
    background-color:#ff5000;
    color:white;
    border:none;
    font:normal 15px Oswald;
}

.botton {
  width:35%;
  margin-left: -15px!important;
  border-radius:0px;
  position:fixed;
  clear:both;
  bottom:-20px;
  z-index: 2;
}

.middle {
  margin-top: 12px;
}

.group-width {
  width:80%;
}

/* boton color */

.white {
  color: white;
}

/* editing bootstrap */

.bottom .container .navbar-brand {
  color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color:white;
}

.navbar-header {
  background-color:#ff5000;
}

.navbar {
    border:none;
}

/* queries */

@media (max-width:991px) {
  .botton {
    width:100%!important;
  }
}

/* <tablets> */
@media (min-width: 768px) and (max-width: 991px) {
  .botton {
    margin-left: -30px!important;
  }

  .navbar-toggle {
    display:inline-block;
  }

  .navbar-collapse.collapse {
    display:none!important;
  }

  .collapse.in {
    display:block!important;
  }

  .quote-fixed {
    width:100%;
    clear:both;
    position:fixed;
    z-index:100;
  }
}

/* latops and pc */
@media (min-width: 992px){
    .quote-fixed {
      clear:both;
      position:fixed;
      margin-left:-15px;
      top:0;
      z-index:100;
    }
}
