/* estilos paso 3 */

.global3 {
  margin-bottom: 10%;
}

.sel-button-2 {
  width:24.5%;
}

/* cambiando detalles */
.figure-margin2 {
  margin:2.5rem 0;
}

.base2 {
  width:calc(100% - 31.7px);
  margin-left:0;
}

/* editing bootstrap styles */

.btn-group {
  margin-bottom: 5px;
}

.btn {
  background-color: #fff;
  color:#000;
  border:solid 1px rgba(204,204,204,0.8);
  border-radius:0px;
}

.bitem-left {
  width:80%;
}

.bitem-right {
  width: 20%;
}

label {
  height: 5rem;
}

label > p {
  margin-top:0.6rem;
  padding:0;
}

label > span.caret {
  margin-top:0.7rem;
}

.esp-margin2 {
  padding-top: 0.7rem;
  display: block;
}

/* editando padding ul y li de bootstrap */
ul.dropdown-menu {
  height:auto;
  padding: 0;
}

.dropdown-menu .divider {
  margin:0;
}

ul > li > label {
  height:auto;
  width:100%;
}

ul > li > label {
  margin:0;
  padding: 0.5rem 0;
  padding-left:1rem;
}

ul > li > label:hover {
  background-color: rgba(204,204,204,0.8);
  color:black;
  transition: 0.5s ease;
}

.ro-focus {
  background-color: rgba(255,80,0,0.75);
  color:white;
  border-color:transparent;
}

.re-focus, .rp-focus{
  outline: none;
  background-color: rgba(255,80,0,0.75);
  color:white;
  box-shadow: none;
}

.padding-25 {
  padding-top: 2.5rem;
}

/*

my queries

*/

/* margin para texto de botones */
  @media(min-width:1555px) {
    .sel-button-2 > .esp-margin6 {
      display: inline-block;
      padding-top: 1.2rem;
    }
  }

  @media(min-width:1385px) {
    .sel-button-2 > .esp-margin7 {
      display: inline-block;
      padding-top: 1.2rem;
    }
  }

  @media(min-width:1586px) {
    .sel-button-2 > .esp-margin8 {
      display: inline-block;
      padding-top: 1.2rem;
    }
  }

  @media(min-width:1601px) {
    .sel-button-2 > .esp-margin9{
      display: inline-block;
      padding-top: 1.2rem;
    }
  }
/* margin para texto de botones */

/* mobile-tablet */
@media (max-width: 991px){
  .global3 {
    margin-bottom: 30%;
  }

  .sel-button-2 {
    width:100%;
  }

  .btn-group > label {
    height:3.2rem;
    padding:0;
    font-size: 1.2rem;
  }

  .btn-group > label > p {
    margin-left: 15%;
  }
}

@media (max-width:991px) and (orientation:landscape) {
  .figure-fix {
    position:absolute;
  }

  .aside-margin.margin-bottom {
    margin-top: 15vh;
  }
}

@media (max-width:991px) and (orientation:portrait) {
  /* fixed image */
  .figure-fix {
  	position: fixed;
  	z-index:1000000000;
  	top:0;
    left: 0;
  	width:100%;
    padding: 0 16px 0 16px;
    margin:0;
  }
}
