/* estilos paso 2 */

.img_paso2 {
  position:absolute;
  display:none;
  margin-left:-4.8%;
  width:100%;
  z-index: 50;
}

.display_img {
  display:block;
}

/* queries */
/*@media (min-width: 992px){
  .img_vision {
    width:85%;
    margin-left:5%;
  }

  .img_paso2 {
  margin-left:0%;
  width:70%;
  }
}*/

@media (max-width: 425px) {
  .img_vision {
    width:100%;
    margin-left:0%;
  }

  .img_paso2 {
  margin-left:-4.8%;
  width:100%;
  }
}

/* end estilos paso 2 */
