/* estilos paso 1 */

.input-group-addon,
.form-control       {
  border-radius: 0px;
}

.form-control {
  outline-color: rgba(0,0,255,0.3);
}

.form-control:focus {
  border-color: rgba(0,0,255,0.3);
}

input[type="radio"]{
 display: none;
}

input[type="radio"] + label,
input[type="radio"] + label img {
 cursor:pointer;
}

div.button_1 {
  display: inline-block;
  width: 30%;
  margin: 1rem 0;
  margin-left: 2.2%;
}

.button_1 > label {
  width: 100%;
  margin:0.5rem 0 0 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
}

.button_1 > label:hover {
  color:#ff5000;
}

.button_1 > label > img {
  padding:1rem;
  border:solid 2px rgba(204,204,204,0.8);
  box-shadow: 1px 1px 1px rgba(204,204,204,1);
}

.button_1 > label > img:hover {
  border:solid 2px rgba(0,0,255,0.3);
  box-shadow: 1px 1px 1px rgba(0,0,255,0.3);
}

.r-focus {
  outline: none;
  background-color: rgba(204,204,204,0.5);
  box-shadow: none;
}

/*

my queries

*/

@media (max-width:991px){
  .button_1 > label {
    font-size: 1.2rem;
  }
}
