/* resumen */

.resumen {
  margin-top: 4.5rem;
  margin-left: 4rem;
  padding: 0;
  background-color: rgba(204,204,204,0.5);
  position:fixed;
  z-index:100000;
}

.resumen-header {
  border-bottom: solid 1px black;
}

.sub-resumen {
  width: 100%;
  color:black;
  background-color: transparent;
}

.collapse {
  display: block;
}

.out-text {
  width:17%;
  height: 2.5rem;
  border:none;
  background: transparent;
  text-align: center;
  color:#ff5000;
}

.mobile-button {
  display: none;
}

.caret-icon {
  width:25px;
  height:25px;
  background-color: transparent;
}

.caret-icon-normal {
  margin-top: 0.8rem;
}

.caret-icon-inverse {
  transform: rotate(180deg);
  margin:0;
}

.without {
  display:none;
}

.mitem-resumen {
  height: 3rem;
  /*border-bottom: solid 1px black;*/
}

.litem-resumen {
  height:3rem;
  width:70%;
  padding-left: 1rem;
  font-size: 1.15rem;
  font-weight: normal;
}

.ritem-resumen {
  width:29%;
  height:3rem;
  border:none;
  border-bottom:solid 1px rgba(204,204,204,0.5);
}

.mitem-total {
  border-top: solid 1px black;
  height: 4rem;
}

.total-title {
  height:4rem;
  width:70%;
  margin:0;
  padding: 1rem 0;
  padding-left: 1rem;
  font-size: 2rem;
  font-weight: bold;
  vertical-align: middle;
  background-color: none;
}

.ritem-total {
  height: 4rem;
  background-color: transparent;
}

/*

my queries

*/

@media (max-width:991px) {
  /* editando bootstrap */

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  .resumen {
    background-color: rgba(204,204,204,1);
    margin-left: 0;
    bottom:0;
  }

  .sub-resumen {
    width:85%;
  }

  .collapse {
    display:none;
  }

  .mobile-button {
    display: inline;
    position:absolute;
    /*margin-top:0.8rem;*/
    width:15%;
    height:auto;
    right:0;
    background-color: transparent;
    outline: none;
    border:none;
  }
}
