/* mis estilos */

body,html {
    font-family: Homenaje;
    max-width:100%;
    overflow-x:hidden;
}

div > label {
  width:100%;
}

.margin-top {
  margin-top: 20px;
}

.non-white {
  white-space: nowrap;
}

.margin-none {
  margin-top:10px;
}

.display-flex {
  display:flex;
  width:100%;
}

.text-align {
  text-align: center;
}

.main-color {
    background-color:#ff5000;
    color:white;
}

.second-color {
    background-color: white;
    color:black;
}

.margin-bottom {
  margin-bottom: 20px;
}

.little-box {
    width: 100%;
    background-color:#ff5000;
    border-radius: 0px;
    margin: 5px 0;
}

.little-box h2 {
        color:white;
        font: bold 20px Homenaje;
        margin:0;
        padding:5px 0;
}

h2.center-text {
  vertical-align:middle;
}

.the-buttons {
    width:100%;
    margin:0;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

.buttoms-text {
    white-space:nowrap;
    text-align:center;
}

input {
    width:100%;
}

.big {
    width:100%;
}

.mid {
    width:70%;
    text-align:left;
    white-space:normal;
    font:normal 15px #ffffff;
    border-color:#ff5000;
}

.small {
    width:25%;
}

.orange-shadow {
  border-color:rgba(255,80,0,0.9);
}

.orange-shadow:focus {
    border-color:rgba(255,80,0,0.9);
    box-shadow: rgba(255,80,0,0.4) 1px 1px 1px 1px;
}

.main-color-buttons {
    margin: 3px 0;
    background-color:transparent;
    border: solid 1px #ff5000;
    border-radius:0px;
}

.main-color-buttons:hover{
    background-color:rgba(255,80,0,0.3);
    border:none;
    transition: 0.5s;
}

.main-color-buttons:focus{
    outline:0;
    background-color:#ff5000;
    color: white;
    transition: 0.5s;
}

.little-margin {
    margin-bottom: 3px;
}

.big p {
    font:normal 18px Homenaje;
}

.group-width {
  width:80%;
}

.button-align {
  margin-top:15px;
}

.white {
  color: white;
}

.botton {
  width:100%;
  border-radius:0px;
  position:fixed;
  clear:both;
  bottom:-20px;
  }

.bottom .container .navbar-brand {
  color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color:white;
}

.navbar-header {
  background-color:#ff5000;
}

.navbar {
    border:none;
}

.adaptar {
  width:200;
}


/* imagenes paso 1*/

.back-img-paso1 {
  padding: 15px;
  border:solid 2px #ff5000;
  border-radius:0px;
}

.margin-img-paso1 {
  margin:auto;
}

/* end imagenes paso 1*/

/* selectores paso 1 */

.carousel-indicators .active {
  background-color: #ff5000;
}

.carousel-indicators li {
  border:solid 2px #ff5000;
}

.carousel-indicators {
  z-index:1;
}

/* end selectores paso 1 */

/* imagenes paso 2 */

.img_paso2 {
  position:absolute;
  display:none;
}

.img_hidden{
  display:block;
}

/* end imagenes paso 2 */


/* paso 3 */

  .btn-warning {
    background-color: #ff5000;
  }

/* end paso 3 */

/* cotizacion */

.botton {
  z-index: 2;
}

.last-margin {
  margin-bottom: 100px;
}

  .buttom-image, .buttom-image2,
  .buttom-image3 {
    border:solid 1px #ff5000;
  }
  
/* end cotizacion */
