/* main styles */

body {
  font-size: 100%;
  background-color: black;
}

body, h1, h2, h3, h4, h5, p {
    font-family: 'Open Sans', sans-serif;
}

main {
  width:80%;
  margin:0 auto;
  padding-top: 3rem;
  background-color: white;
}

.main-color {
  color:#ff5000;
}

/* margins */
.figure-margin {
  margin:2.5rem;
}

.margin-top {
  margin-top: 1rem;
}

.aside-margin {
  margin:0 3%;
  margin-top: 4rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

/* parrofo de referencia */
.referencia {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

/* estilo de titulos */
.title {
  font-size: 2.5rem;
  font-style: italic;
  margin:1rem 0;
}

.sub-title {
  width:100%;
  margin:0;
  padding:1rem 0;
  padding-left: 1rem;
  background-color: #ff5000;
  color:white;
  font-weight: bold;
  font-size: 1.5rem;
}

.special-title {
  width: 80%;
  margin: 0;
  padding: 0.9rem 0;
  padding-left: 1rem;
  background-color: #ff5000;
  color: white;
  text-align: left;
  font-weight: bold;
  font-size: 1.5rem;
}

.display-off {
  display:none;
}
